{% extends 'simple.html' %}
{% load static %}

{% block page_labeling %}
  <title>403 禁止访问 | Label Studio - 数据标注平台</title>
  {{ block.super }}
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ settings.HOSTNAME }}{% static 'css/error.css' %}"/>
{% endblock %}


{% block content %}
<div class="ls-global-error">
  <img class="ls-global-error__heidi" src="{{ settings.HOSTNAME }}{% static 'images/heidi-403.svg' %}" alt="Heidi 出故障了" draggable="false" />
  <h1>哎呀，此操作不被允许。</h1>
  <h2>你可以尝试以下几种方式：</h2>
  <p class="ls-global-error__actions">
    <button onClick="history.back()">返回</button>
    <button onClick="window.location.href='/'" class="ls-global-error__primary_button">返回首页</button>
  </p>
</div>
{% endblock %}
